[Unit]
Description=VersityGW NFS Lifecycle and Encryption lab
After=network-online.target remote-fs.target
Wants=network-online.target
RequiresMountsFor={{ nfs_mount_path }}

[Service]
Type=simple
EnvironmentFile={{ versitygw_config_path }}/gateway.env
ExecStart={{ versitygw_binary_path }} --port :{{ versitygw_nfs_port }} --lifecycle-interval 1s posix --disableotmp --disable-copy-file-range --versioning-dir {{ versitygw_nfs_version_root }} --encryption-key-directory {{ versitygw_key_path }} --lifecycle-archive-tier GLACIER={{ versitygw_nfs_archive_root }} {{ versitygw_nfs_root }}
Restart=on-failure
RestartSec=1s
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
