#!/usr/bin/env bash

set -euo pipefail

# shellcheck disable=SC1091
source {{ versitygw_config_path }}/gateway.env
export ROOT_ACCESS_KEY_ID ROOT_SECRET_ACCESS_KEY
exec {{ versitygw_probe_path }} "$@"
